<h1 class="h1">My channels:
    <div class="channel-options">
        <%= link_to "New channel", new_channel_path , class: "btn btn-primary" %>
    </div>
</h1>
<% @user.channels.each do |channel|%>
    <div class="channel">
        <%= link_to image_tag(channel.image.url), channel_path(channel)%>
        <h2 class="h2"><%= channel.name %></h2>
        <p><%= channel.description%></p>
    </div>
<%end%>