<div class="col">
    <h2><%= video.name %></h2>
    <%= link_to image_tag( video.thumbnail.url, width: 200, height: 150), channel_video_path(video.channel, video)%>
    <% if current_user == video.channel.user %>
        <%= link_to "Edit", edit_channel_video_path(video.channel, video) %>
    <%end%>
    <p><%= link_to video.channel.name, video.channel %></p>
</div>