<div class="row">
    <% @channel.videos.each do |video| %>
        <div class="col">
            <h2><%= video.name %></h2>
            <%= link_to "Watch", channel_video_path(@channel, video)%>
            <% if current_user == @channel.user %>
                <%= link_to "Edit", edit_channel_video_path(@channel, video) %>
            <%end%>
            <%= image_tag video.thumbnail.url, width: 100, height: 100%>
        </div>
    <%end%>    
</div>