<div class="sidebar">
    <%if user_signed_in? %>
        <% current_user.subscribed_channels.each do |channel|%>
           <p><span>&copy;</span> <%= link_to channel.name, channel %> <span></span></p>
        <%end%>
    <%end%>
</div>